.slides {
  font-size: 1.4em;
}

.slides ul li {
  margin-top: 10px;
}

.slides table {
  width: 100%;
}

.slides table tr td:first-child {
  width: 300px;
}

.slides table tr td {
  padding-top: 7px;
  padding-bottom: 7px;
}

.slides table tr:nth-child(2n+3) {
  background: #e3e3e3
}

.slides table tr:nth-child(2n) {
  background: #fff;
}

.slides code {
  font-size: 1.5em;
  line-height: 1.5;
  max-height: none;
}

.reveal .slides img {
  box-shadow: 0px 0px 8px 8px #777;
}

body {
  background: url(../../img/tex2res5.png);
}

.slides code.small {
  font-size: 0.8em;
}

.slides ul {
  width: 100%;
}

.slides .slide-img img {
  float: right;
}

.slides .slide-img ul {
  width: auto;
}

.slides li.done {
  opacity: 0.4;
}
